<div class="employee-form-container">
  <h2>Add Employee</h2>

  <form [formGroup]="employeeForm" (ngSubmit)="submitForm()">

    <label>Name:</label>
    <input formControlName="name" />

    <label>Email:</label>
    <input formControlName="email" />

    <label>Phone:</label>
    <input formControlName="phone" />

    <label>Salary:</label>
    <input formControlName="salary" />

    <label>Department:</label>
    <input formControlName="department" />

    <button type="submit">Submit</button>

  </form>
</div>
